<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Landing</servlet-name>
  	<display-name>Landing</display-name>
  	<description></description>
  	<servlet-class>com.finora.controller.Landing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>com.finora.controller.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_Dashboard</servlet-name>
  	<display-name>Admin_Dashboard</display-name>
  	<description></description>
  	<servlet-class>com.finora.controller.Admin_Dashboard</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>User_profile</servlet-name>
  	<display-name>User_profile</display-name>
  	<description></description>
  	<servlet-class>com.finora.controller.User_profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDAO</servlet-name>
  	<display-name>UserDAO</display-name>
  	<description></description>
  	<servlet-class>com.finora.dao.UserDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticationFilter</servlet-name>
  	<display-name>AuthenticationFilter</display-name>
  	<description></description>
  	<servlet-class>com.finora.filter.AuthenticationFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SerialVersionsUID</servlet-name>
  	<display-name>SerialVersionsUID</display-name>
  	<description></description>
  	<servlet-class>com.finora.filter.SerialVersionsUID</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserModel</servlet-name>
  	<display-name>UserModel</display-name>
  	<description></description>
  	<servlet-class>com.finora.model.UserModel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListService</servlet-name>
  	<display-name>ListService</display-name>
  	<description></description>
  	<servlet-class>com.finora.service.ListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.finora.service.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterService</servlet-name>
  	<display-name>RegisterService</display-name>
  	<description></description>
  	<servlet-class>com.finora.service.RegisterService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookieUtil</servlet-name>
  	<display-name>CookieUtil</display-name>
  	<description></description>
  	<servlet-class>com.finora.utils.CookieUtil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DBConfig</servlet-name>
  	<display-name>DBConfig</display-name>
  	<description></description>
  	<servlet-class>com.finora.util.DBConfig</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordUtil</servlet-name>
  	<display-name>PasswordUtil</display-name>
  	<description></description>
  	<servlet-class>com.finora.util.PasswordUtil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionUtil</servlet-name>
  	<display-name>SessionUtil</display-name>
  	<description></description>
  	<servlet-class>com.finora.util.SessionUtil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.finora.controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.finora.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Landing</servlet-name>
  	<url-pattern>/Landing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_Dashboard</servlet-name>
  	<url-pattern>/Admin_Dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>User_profile</servlet-name>
  	<url-pattern>/User_profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDAO</servlet-name>
  	<url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticationFilter</servlet-name>
  	<url-pattern>/AuthenticationFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SerialVersionsUID</servlet-name>
  	<url-pattern>/SerialVersionsUID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserModel</servlet-name>
  	<url-pattern>/UserModel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListService</servlet-name>
  	<url-pattern>/ListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CookieUtil</servlet-name>
  	<url-pattern>/CookieUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBConfig</servlet-name>
  	<url-pattern>/DBConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordUtil</servlet-name>
  	<url-pattern>/PasswordUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionUtil</servlet-name>
  	<url-pattern>/SessionUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>
